.navbar {
  background-color: lightgreen;
  height: 180px;
}

.navbar h1 {
  margin-bottom: 2px;
  margin-right: 0px;
  margin-top: 0px;
}

.navLinks {
  float: left;
  style: none;
  width: 200px;
}

.loginForm {
  padding: 2px;
  width: 200px;
  float: right;
}

.loginForm p {
  margin-top: 0.5px;
}

.mainDescrip {
  float: left;
}

.sidebarDescrip {
  float: right;
  width: 300px;
}
