.navbar {
  background-color: lightgreen;
  height: 190px;
}

.leftNavColumn {
  float: left;
  margin: auto;
  margin-left: 10px;
  margin-top: 10px;
  width: 30%;
}

.midNavColumn {
  margin: auto;
  width: 30%;
}

.navbar h1 {
  margin-bottom: 2px;
  margin-right: 0px;
  margin-top: 0px;
}

.navLinks {
  float: right;
  margin-top: 10px;
  width: 10%;
}

.navLinks a {
  padding: 2px;
}

.welcomeMessage p {
  font-size: 20px;
}

.reactTag {
  font-size: 80px;
}

.loginForm {
  padding: 2px;
  width: 200px;
  float: right;
}

.loginForm p {
  margin-top: 0.5px;
}

.eventList {
  width: 400px;
  height: 400px;
  float: left;
}

.mainDescrip {
  float: left;
  width: 50%;
}

.mainDescrip h3 {
  margin-top: 5px;
}

.sidebarDescrip {
  margin-left: auto;
  width: 300px;
  padding: 8px;
  margin-right: 15px;
  margin-top: 5px;
  background-color: lightblue;
}

.stretchGoals {
  margin-left: auto;
  width: 300px;
  padding: 8px;
  margin-right: 15px;
  margin-top: 5px;
  background-color: lightblue;
}

button {
  padding: 4px;
}

.createFunctionForm input, select {
  margin-bottom: 5px;
}

.registrationForm input {
  margin: 5px;
}
